<h1># Contacts</h1>

<% @contacts.each do |contact| %>
    <%= link_to contact.email, contact %>
    <%= link_to 'Edit', edit_contact_path(contact) %>
<br/>
<% end %>

<br/>

<%= link_to 'New Contact', new_contact_path %>
